.layout {
    display: flex;
    min-height: 100vh;
    background-color: var(--color-background);
}

.main {
    flex: 1;
    margin-left: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    min-width: 0;
    /* Prevent flex item from overflowing */
}

.content {
    flex: 1;
    padding: var(--spacing-xl);
    overflow-x: hidden;
}